.a1 {
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.a1 a {
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial;
    color: white;
    background-color: #16A177;
    margin-bottom: 5px;
    text-align: left;
    padding: 15px;
    width: 270px;

}
.a1 a:hover, .a1 a.active {
    color: #16A177;
    background-color: #fff;
    border: 1px solid #16A177;
}



.a3 {
    display: flex;
}
.a3 a {
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial;
    color: white;
    background-color: #16A177;
    text-align: left;
    padding: 15px 40px;

}
.a3 > a:hover, .a3 > a.active {
    background-color: #137a5b;
}


.a2 {
    padding: 10px;
    display: flex;
}
.a2 a {
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial;
    color: white;
    background-color: #16A177;
    margin-right: 5px;
    text-align: left;
    padding: 15px 40px;

}
.a2 a:hover, .a2 a.active {
    color: #16A177;
    background-color: #fff;
    border: 1px solid #16A177;
}


